# Don't bother tracking a bunch of stuff when building and installing
# Org from the master git repository.

# ...by ignoring everything created by 'make', 'make doc', `make info'
#    `make html_manual', `make release'

*.aux
*.bak
*.cp
*.cps
*.diff
*.dvi
*.elc
*.fn
*.fns
*.html
*.info
*.ky
*.kys
*.log
*.patch
*.pdf
*.pg
*.pgs
*.ps
*.toc
*.tp
*.vr
*.vrs
orgcard_letter.tex
orgcard.txt
org
org-install.el
org-*.tar.gz
org-*.zip
manual
org_dual_license.texi
ORGWEBPAGE/Changes.txt

# aspell word and replacement lists

.aspell.org.pws
.aspell.org.prepl

# allow tmp and test directories that will not be tracked

test
t
auto
tmp
TODO

# and collateral damage from Emacs

*~
.DS_Store
*#
.#*

#
# Local variables:
# fill-column: 72
# mode: conf
# End:
/UTILITIES/x11idle
