body {
     font-family: helvetica, verdana, sans-serif;
     font-family: verdana, sans-serif;
     font-size: 11pt;
     margin-top: 5%;
     margin-bottom: 8%;
     background: white; color: black;
     margin-left: 3% !important; margin-right: 3% !important;
}

h1 { 
   font-size: 16pt;
   color: #cc8c00;
   padding-top: 1em;
   border-bottom: 2px solid #aaa;
}

h2 {
   font-size: 14pt;
   padding-top: 1em;
   border-bottom: 1px solid #ccc;
}

h3 {
   font-size: 12pt; 
   padding-top: 0.5em;
   border-bottom: 1px solid #eee;
}

.todo, .deadline { color: red; font-style: italic }
.done { color: green; font-style: italic }
.timestamp { color: grey }
.timestamp-kwd { color: CadetBlue; }
.tag { background-color:lightblue; font-weight:normal; }

.target { background-color: lavender; }

.menu {
      color: #666;
}

.menu a:link { 
      color: #888;
}
.menu a:active { 
      color: #888;
}
.menu a:visited { 
      color: #888;
}

img { align: center; }

pre {
	padding: 5pt;
	font-family: courier, monospace;
	font-size: 10pt;
}

table { border-collapse: collapse; }

td, th {
	vertical-align: top;
	border: 1pt solid #ADB9CC;
}
